<div class='m-2'>
  <%= link_to user_path(notification.visitor) do %>
    <%= notification.visitor.name %>
  <% end %>
  <span>さんが</span>

  <% if notification.action == 'chat' %>
    <%= link_to 'あなたにメッセージ', chat_path(notification.visitor), style:"font-weight: bold;", class: "border-bottom" %>
    <%= "を送りました" %>
  <% end %>
  <span><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span><br>
</div>